
/*Dont border inline figures*/
.inline-figure {
    border: solid 0px #f1f1f1;
    margin-bottom: 1rem;
}

img.cover {
    float: right;
    margin: 1rem 1rem 1rem 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}


/* TOC logo thanks to stat 545 */
.toc-logo {
  width: 170px !important;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.toc-logo img {
  max-width: 100%;
  margin-bottom: 5px;
}
