/* sidebar = book-summary*/

.book{
  background-color: #30635a;
  color: #fff;
}

/* body */
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
		color: #cbcbcb;
}

/* link colors */
a {
	color: #f1f1f1;
}


/* other */
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}



