
/* h1 border */
.level1 h1 {
  border-bottom: 1px solid;
}

/* adjust gitlab snippets */
.js-file-title file-title-flex-parent{
  width: 95%;
  display: block;
}

.blob-content {
  width: 100%;
  height: 100%;
}

.line-numbers {
	display: none;
}




/* sidebar = book-summary*/
.book{
  /*background-color: #30635a;*/
  color: #fff;
}

/* TOC logo thanks to stat 545 */
.toc-logo {
  width: 170px !important;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.toc-logo img {
  max-width: 100%;
  margin-bottom: 5px;
}

/* body */
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
		color: #cbcbcb;
}

/* link colors */
a {
	color: #f1f1f1;
}


/* other */
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}



